# Google Calendar API key for GCAL room availability scraping
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI= https://moffittstatus.asuc.org/api/auth/callback/google
FRONTEND_URL= #http://localhost:3003 for dev, https://www.moffittstatus.asuc.org for prd
SESSION_SECRET= # generate by running openssl rand -base64 32