blinker==1.4.0
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
LivePopularTimes @ git+https://github.com/GrocerCheck/LivePopularTimes.git@a4b149fc1ef331c8ecb7e27fa115ec8a2ed0ad5f
MarkupSafe
pytz
requests
urllib3
Werkzeug